@model hospital_project.Models.ViewModels.DetailsAppointment

@{
    ViewBag.Title = "Details";
}

<a href="/Appointment/list"> &#8592; Back to Appointment List</a>

<h2>Appointment Information</h2>

<div>Appointment ID: @Model.SelectedAppointment.appointment_id</div>
<div>Appointment Date: @Model.SelectedAppointment.appointment_date</div>
<div>Patient ID: @Model.SelectedAppointment.patient_id</div>
<div>Healthcard Number: @Model.SelectedAppointment.healthcard_id</div>
<div>Patient Name: @Model.SelectedAppointment.patient_fname @Model.SelectedAppointment.patient_surname</div>
<div>Condition: @Model.SelectedAppointment.patient_condition</div>
<div>Primary Physician ID: @Model.SelectedAppointment.physician_id</div>

<a href="/Appointment/edit/@Model.appointment_id" class="update-Button">Edit</a>
<a href="/Appointment/DeleteConfirm/@Model.appointment_id" class="update-Button">Delete</a>